<div class="table-responsive">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>Ticket</th>
              <th>Time</th>
              <th>Logged Time</th>
               <th>Logged date</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor = "let worklog of user.worklogs">
              <td scope="row"><a [href]="ticketUrl+worklog.key" target="_blank">{{worklog.key}}</a></td>
              <td>{{worklog.timeSpent}}</td>
              <td>{{worklog.created | date:'shortTime'}}</td>
              <td>{{worklog.created | date:'shortDate'}}</td>
          </tr>
      </tbody>
  </table>
</div>