
.pic{
    height: 48px;
    width: 48px;
}

input.ng-valid{
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.btn-outline-success:disabled {
    color: grey;
}