<nav class="navbar navbar-toggleable-md navbar-light bg-faded" *ngIf="!isHttpCallOnProgress">
  <div class="" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0" [formGroup]="jiraDetailForm">
      <input class="form-control mr-sm-2" [(ngModel)] = "userDataObj.username" formControlName="userName" type="text" placeholder="Email/Username">
      <input class="form-control mr-sm-2" [(ngModel)] = "password" formControlName="password" type="password" placeholder="Password">
      <input class="form-control mr-sm-2" [(ngModel)] = "userDataObj.jiraDomain" formControlName="jiraDomain" type="text" placeholder="JiraDomain">
      <input class="form-control mr-sm-2" [(ngModel)] = "userDataObj.project" formControlName="project" type="text" placeholder="project">
      <my-date-range-picker class ="padding-top-5"name="mydaterange"   [options]="myDateRangePickerOptions"
                    [(ngModel)]="userDataObj.fromDate" formControlName="fromDate"></my-date-range-picker>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click) = "getWorkLogFromTo()" [disabled] ="!jiraDetailForm.valid">Get worklogs</button>
    </form>
  </div>
</nav>
<div class="sk-cube-grid margin-top-300" *ngIf="isHttpCallOnProgress">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
<table class="table table-striped " *ngIf="!isHttpCallOnProgress">
    <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>emailAddress</th>
            <th>work logs </th>
            <th>Pic</th>
        </tr>
        </thead>
        <tbody>
            <tr *ngFor ="let user of userList">
                <td >{{user.displayName}}</td>
                <td>{{user.emailAddress}}</td>
                <td> {{calculateTime(user.worklogs)}} </td>
                 <td>  <img class="pic" src="{{user.avatarUrls['48x48']}}"/></td>
            </tr>
            <tr><td colspan="4" *ngIf="userList.length === 0"> No data found for the given credentials</td></tr>
        </tbody>
</table>
<simple-notifications [options]="options" ></simple-notifications>